@charset "UTF-8";
/* CSS para TODOS os avisos */
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */

main .main_cont{
    display: flex;
    width: 100%;
}
/* DIV da linha principal dentro do main */
.div_row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3em 0;
    padding: 1em 0;
    /* height: 100vh; */
}
/* DIV da COLUNA principal das paginas de aviso */
.div_col{
    display: block;
    max-width: 600px;
    width: 100%;
    background-color: var(--azulEscuro);
    box-shadow: 0px 1px 9px 1px var(--azulClaro);
    border-radius: 10px;
}
/* DIV do TOPO das paginas de aviso onde vai o titulo dos avisos */
.div_topo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    height: 100%;
    background-color: var(--azulScuro);
    border-radius: 10px 10px 0 0;
}
.div_topo h2{
    color: var(--branco);
    font-family: 'Kalam', cursive;
    font-size: 2em;
    font-weight: 500;
}
/* DIV do corpo das paginas de aviso */
.div_body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_body h3{
    padding: 2em;
}
/* DIV do Botão de INPUTs */
.div_input_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}
.input_btn{
    display: flex;
    background-color: var(--azulScuro);
    color: var(--branco);
    font-size: 1.2em;
    border-radius: 10px;
    border: 2px solid var(--azulScuro);
    padding: 0.5em 2em;
}
.input_btn:hover{
    display: flex;
    background-color: var(--azulEscuro);
    color: var(--branco);
    border-radius: 10px;
    border: 2px solid var(--branco);
    padding: 0.5em 2em;
}
/* DIV das parte inferior das paginas de aviso onde ficam os LINKs para os MODAIs */
.row_links{
    display: block;
    text-align: left;
    padding: 1em 2em;
}

.div_link{
    color: var(--azulClaro);
    font-size: 1em;
    padding: 0.5em;
}
