@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--preto) !important;
}
/* tag MAIN class=container da pagina de erro */
.main_cont_erro{
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--preto);
}
.div_row_erro{
    display: flex;
    width: 100%;
    background-color: var(--preto);
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-bottom: 50px;
}
/* implementações para a DIV row class= */
.div_col_erro{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    max-width: 500px;
    box-shadow: 0px 1px 8px 1px rgba(13, 110, 253,.8);
    background-color: var(--azulEscuro);
    color: var(--branco);
}
/* DIV class=topo_modal Parte superior do modal com o titulo e o botão fechar */
.topo_modal{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--azulScuro);
    align-items: center;
    justify-content: center;
    color: var(--branco);
    border-radius: 7px 7px 0px 0px;
}
/* DIV class=div_tit_modal com o titulo da janela modal */
.div_tit_modal{
    display: flex;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Kalam', cursive;
    text-align: center;
}
/* Div class=div_modal_body, do body MODAL, container */
.div_body_modal{
    align-items: center;
    justify-content: center;
    color: var(--azulScuro);
}
.div_body_modal h3{
    text-align: center;
    color: var(--branco);
    padding: 10px;
}
/* DIV ROW class=body_row_modal dentro do body do MODAL */
.body_row_modal{
    align-items: center;
    justify-content: center;
}
/* DIV do Botão de INPUTs */
.div_input_form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;
}
.row_recup_senha{
    text-align: left;
}
