@charset "UTF-8";
/* `Como este vai carreagar em todas as paginas eu ESTOU deixando as definições GERAIS DO CSS AQUI
e NO PHP do navbarra.PHP, como carrear o BOOTSTRAP CSS e SCRIPT, FONT-AWESOME e GOOGLE FONTs*/
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variáveis GLOBAIs das CORES da Pagina */
:root{
    --branco: #fff;
    --transp: transparent;
    --dark: #373636;
    --preto: #000;
    --preto20: rgba(0,0,0,0.2);
    --preto40: rgba(0,0,0,0.4);
    --preto60: rgba(0,0,0,0.6);
    --preto80: rgba(0,0,0,0.8);
    --azulClaro: rgba(13, 110, 253,1);
    --azulMedio: rgb(4, 9, 170);
    --azulEscuro: rgba(5,35,57,1);
    --azulScuro: rgba(1,13,21,1);
    --gold: #ffd700;
    /* Cores em teste */
    --azulScuroAnt: rgb(6, 3, 14);
    --verdeScuro: #061000;
    /* NiceHash cores do site - só para tesar */
    --NiceHash: rgba(1,13,21,1);
    --NiceHash2: rgba(5,35,57,1);
}
body{
    min-height: 100vh;
    background-color: var(--preto) !important;
    color: var(--azulClaro);
}
/* Tag NAV com o ID=nav_barra tag principal q engloba todo o conteudo */
#nav_barra{
    position: fixed;
    width: 100%;
    z-index: 999;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* font-family: 'Cinzel Decorative', Ubuntu; */
    font-family: 'Kalam', cursive;
    background-color: var(--azulScuro);
    color: var(--azulClaro);
    /* border: #ffd700 dotted 1px; */
}
/* Definições gerais das tags -ul, ol, li, a */
#nav_barra ul, ol, li, a{
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: var(--azulClaro);
    margin: 0px;
}
/* Defini dos LINKs das UL, login e menu */
#nav_barra ul a :active{
    color: var(--gold);
}

/* DIV com ID=div_container q envelopa - id=div_logo_uls - id=ul_menu - id=div_btn */
#div_container{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    max-width: 1100px;
    padding: 0px 0px 0px 50px;
    /* border: #fff dotted 1px; */
}

/* DIV ID=div_logo_uls da IMAGEM IMG=Logo e da DIV=dropdown e LISTA do Login */
#div_logo_uls{
    display: flex;
    position: relative;
}
/* DIV ID=div_img_login da imagem do logo pequeno */
#div_img_login{
    margin-right: 1em;
}

/* DIV id=div_dropd e class="dropdown" do MENU DROPDOWN do login */
.div_dropd{
    position: absolute;
    left: 90px;
    bottom: -2px;
    background-color: var(--transp);
}
.div_dropd ul, li{
    background-color: var(--preto80);
}
/* UL dentro da div_container */
#ul_menu{
    display: flex;
    align-items: center;
    background-color: var(--azulScuro);
}
#ul_menu li{
    margin-right: 2em;
    background-color: var(--azulScuro);
}
/* Botão UMBURGUER q vai aparecer somente quando a tela for menor que: 590px */
#div_btn{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* implementações para as janelas MODAL */
.modal .modal-dialog .modal-content{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 1px 8px 1px rgba(13, 110, 253,.8);
    background-color: var(--azulEscuro);
    color: var(--branco);
}
/* DIV class=topo_modal Parte superior do modal com o titulo e o botão fechar MODAL */
.topo_modal{
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 10px;
    background-color: var(--azulScuro);
    align-items: center;
    justify-content: center;
    color: var(--branco);
    border-radius: 7px 7px 0px 0px;
}
/* DIV class=div_tit_modal com o titulo da janela MODAL */
.div_tit_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
/* DIV class=div_tit_modal com o titulo H2 da janela MODAL */
.div_tit_modal h2{
    display: flex;
    font-size: 2em;
    font-weight: 600;
    font-family: 'Kalam', cursive;
}
.div_bt_fechar{
    display: flex;
    width: 10%;
}
.bt_fechar{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--azulScuro);
    padding: 0px 15px;
    color: var(--branco);
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0px 7px 0px 0px;
}
/* Div class=div_modal_body, do body MODAL, container */
.div_body_modal{
    align-items: center;
    justify-content: center;
    color: var(--azulScuro);
}
/* DIV ROW class=body_row_modal dentro do body do MODAL */
.body_row_modal{
    align-items: center;
    justify-content: center;
}
/* FORMULARIO class=form_modal */
.form_modal{
    align-items: center;
    justify-content: center;
    padding: 25px;
}
/* DIV dos INPUTs do FORM */
.div_input_form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 3em;
    width: 100%;
    margin-bottom: 2em;
}
/* SPAN icon dentro dos inputs */
.icon_input{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2em;
    background-color: var(--azulScuro);
    font-size: 1.5em;
    color: var(--branco);
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--azulScuro);
}

/* INPUTs dentro do form modal */
.input_form_modal{
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 4em;
    border-radius: 5px;
    border: 2px solid var(--azulScuro);
    transition: all 0.3s ease;
}
/* INPUTs dentro do form modal quando PASSAR o mouse*/
.input_form_modal:hover{
    border: 2px solid var(--azulClaro);
}
/* PLACEHOLDER dentro dos inputs */
.div_input_form input::placeholder{
    padding-left: 4em;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--preto);
}
/* Botão input class=btn_submit_modal para enviar os dados do formulário */
.btn_submit_modal{
    display: block;
    height: 100%;
    background-color: var(--azulScuro);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--branco);
    padding: 0 3em;
    border-radius: 5px;
    border: 1px solid var(--azulScuro);
}
.btn_submit_modal:hover{
    display: block;
    background-color: var(--azulEscuro);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--branco);
    border-radius: 5px;
    border: 1px solid var(--branco);
}
/* DIV row class=row_recup_senha no final do modal com os LINKs Cadastrar usuario e Recuperar senha */
.row_recup_senha{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}

/* MEDIA QUERY para responsividade em telas menores que: 590px */
@media (max-width: 590px) {
    #div_btn{
        display: block;
        z-index: 999;
        padding-right: 2rem;
    } 
    #icon_menu.active::before{
        content: "\f00d";
    }
    #ul_login{
        background-color: var(--azulScuro);
        position: fixed;
        height: 6vh;
        width: 35vw;
        left: -250px;
        top: 35px;
        /* border: #fff dotted 1px; */
    }
    #ul_login.active{
        background-color: var(--azulScuro);
        position: fixed;
        height: 6vh;
        width: 30vw;
        left: 0px;
        top: 35px;
        transition: all 0.3s ease;
        /* border: #fff dotted 1px; */
    }
    #ul_menu{
        background-color: var(--azulScuro);
        position: fixed;
        height: 6vh;
        width: 45vw;
        right: -350px;
        top: 35px;
        /* border: #fff dotted 1px; */
    }
    #ul_menu.active{
        background-color: var(--azulScuro);
        position: fixed;
        height: 6vh;
        width: 45vw;
        right: 0px;
        top: 35px;
        transition: all 0.3s ease;
        /* border: #fff dotted 1px; */
    }
    #ul_menu li{
        margin-right: 1em;
    }
}/* FIM MEDIA QUERY - telas menores que: 590px */

/* ESTILOS ANTIGOS da outra folha geral_style.css */

/*AS DEFINIÇÕES DAS CLASSES DOS BOTÔES ANTIGOS*/
/* .bt_fechar {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    background-color: rgba(255,255,255,0.9); 
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(255,255,255,1.00);
    padding: 0em 0.3em;
} */
/*classe somente para botoes em geral*/
.meu_btn {
    background-color: rgba(255,255,255,0.9); 
    font-size: 10pt;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(255,255,255,1.00);
    padding: 0px 5px;
    color: #000000;
}
.meu_btn:hover {
    background-color: rgba(0,0,0,0.9); 
    color: #ffffff;
    font-size: 10pt;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(13,0,157,0.9);
    text-shadow: 0px 0px 1px #ffffff;
}
.red_btn {
	display: flex;
    background-color: rgba(185,0,3,0.94); 
    font-family: 'Shojumaru', cursive;
    color: #000000;
    font-size: 8pt;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(185,0,3,0.94);
    padding: 0px 5px;
}
.red_btn:hover {
    display: flex;
    background-color: rgba(0,0,0,0.9); 
    font-family: 'Shojumaru', cursive;
    color: #ffffff;
    font-size: 8pt;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 2px rgba(185,0,3,0.94);
    text-shadow: 0px 0px 1px #ffffff;
}
#destaq{
    color: var(--gold);
}