/* CSS exclusivo para esta Página NAVBARRA.css */

/* Tag NAV com o ID=nav_barra  */
#nav_barra{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Cinzel Decorative', Ubuntu;
    /* border: #ffd700 dotted 1px; */
}
#nav_barra ul a{
    text-decoration: none;
    list-style: none;
    color: var(--font-color);
}

/* DIV com ID=CONTAINER */
#div_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    padding: 0px 10px;
    margin: auto;
    border: #fff dotted 1px;
}
/* DIV ID=img_logo_peq do Logo e Lista do Login */
#div_logo_ul{
    display: flex;
    align-items: center;
}
#ul_login{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 400;
}
a :active{
    color: var(--linkActive);
}
/* .link_btn :active{
    color: var(--linkActive);
} */
.li_logins{
    margin-left: 2rem;
}

/* UL dentro da div_container */
#div_container ul{
    display: flex;
    align-items: center;
}
#list_menu li{
    margin-left: 1rem;
}
#menu-btn{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
@media (max-width: 1300px) {
    #menu-btn{
        display: block;
    }

    
}