/* CSS exclusivo para esta Página NAVBARRA.css */
/* Tag NAV com o ID=nav_barra  */
#nav_barra{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Cinzel Decorative', Ubuntu;
    background-color: rgb(6, 3, 14);
    color: var(--font-color);
    /* border: #ffd700 dotted 1px; */
}
#nav_barra ul a{
    text-decoration: none;
    list-style: none;
    color: var(--font-color);
}
/* ID= nav_barra ul a -> dos LINKs das UL, login e menu */
#nav_barra ul a :active{
    color: var(--linkActive);
}
/* DIV com ID=CONTAINER */
#div_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    padding: 0px 10px;
    margin: auto;
    /* border: #fff dotted 1px; */
}
/* DIV ID=div_logo_uls do IMG=Logo e UL=Lista do Login */
#div_logo_uls{
    display: flex;
    align-items: center;
}
#ul_login{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 400;
}
.li_login{
    margin-left: 1.5rem;
}

/* UL dentro da div_container */
#ul_menu{
    display: flex;
    align-items: center;
}
#ul_menu li{
    margin-right: 2em;
}
/* Botão q vai aparecer somente quando a tela for menor que: 997px */
#div_btn{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* MEDIA QUERY para responsividade em telas menores que: 997px */
@media (max-width: 590px) {
    #div_btn{
        display: block;
        z-index: 999;
        padding-right: 2rem;
    } 
    #icon_menu.active::before{
        content: "\f00d";
    }
    #ul_login{
        background-color: var(--main-color);
        position: fixed;
        height: 6vh;
        width: 35vw;
        left: -250px;
        top: 35px;
        /* border: #fff dotted 1px; */
    }
    #ul_login.active{
        background-color: var(--main-color);
        position: fixed;
        height: 6vh;
        width: 30vw;
        left: 0px;
        top: 35px;
        transition: all 0.3s ease;
        /* border: #fff dotted 1px; */
    }
    #ul_menu{
        background-color: var(--main-color);
        position: fixed;
        height: 6vh;
        width: 45vw;
        right: -350px;
        top: 35px;
        /* border: #fff dotted 1px; */
    }
    #ul_menu.active{
        background-color: var(--main-color);
        position: fixed;
        height: 6vh;
        width: 45vw;
        right: 0px;
        top: 35px;
        transition: all 0.3s ease;
        /* border: #fff dotted 1px; */
    }
    #ul_menu li{
        margin-right: 1em;
    }
}