#footer_rodape {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    bottom: -100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Cutive Mono', monospace;
    background-color: rgb(6, 3, 14);
    color: var(--font-color);
    padding: 1rem 2rem;
    /* border: 1px dotted rgb(255, 255, 255); */
}
#div_esquerda {
    display: flex;
}
#div_centro {
    display: flex;
    align-items: center;
}
#div_centro img{
    max-height: 25px;
}
#div_direita {
    display: flex;
    padding-right: 2rem;
}
#div_direita a{
    text-decoration: none;
    color: var(--font-color);
}
@media (max-width:850px) {
    #footer_rodape {
        /* position: sticky; */
        display: block;
        bottom: 0px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        font-family: 'Cutive Mono', monospace;
        text-align: center;
        /* border: 1px dotted rgb(255, 255, 255); */
    }
}