/* Crie 27/08/22, um novo CSS para meu site para implementar novas tecnicas aprendidas no cruso PHP Developer - CELKE */
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variável GLOBAL do css */
:root{
    --preto: #000;
    --branco: #fff;
    --transp: transparent;
    --azulClaro: #0d6efd;
    --azulMedio: rgb(4, 9, 170);
    --azulScuro: rgb(6, 3, 14);
    --gold: #ffd700;
}
body {
    display: block;
    background-color: #000 !important;
    color: var(--azulClaro);
}

/* MAIN div conteiner com o conteudo central da pagina */
#main_princ{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--preto);
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem;
}
/* DIVs com o conteudo H2, A, IMG, P */
.divs_link{
    width: calc(33% - 20px);
    background-color: var(--azulScuro);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}
.h2_titulo{
    text-align: center;
    /* font-family: 'Cinzel Decorative', cursive; */
    /* font-family: 'Cutive Mono', monospace; */
    font-family: 'Kalam', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
    color: var(--branco);
}
.p_texto{
    color: var(--azulClaro);
    font-family: 'Cutive Mono', monospace !important;
}
#img_ti{
    width: 40%;
    object-fit: cover;
}
#img_money{
    width: 50%;
}
#img_anime{
    width: 90%;
}
/* media query para responsividade, tela menor que 1024px */
@media (max-width: 1024px) {
    /* MAIN div conteiner com o conteudo central da pagina */
    #main_princ{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 3rem 0rem;
    }
    /* DIVs com o conteudo H2, A, IMG, P */
    .divs_link{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: var(--azulClaro);
        justify-content: center;
        padding-top: 2rem;
        width: calc(50% - 10px);
    }
    #img_ti{
        width: 50%;
        text-align: center;
    }
    #img_money{
        width: 70%;
    }
    #img_anime{
        width: 80%;
    }
}

/* media query para responsividade, tela menor que 590px */
@media (max-width: 590px) {
    /* MAIN div conteiner com o conteudo central da pagina */
    #main_princ{
        display: block;
        justify-content: center;
        align-items: center;
        padding: 3rem 0rem;
    }
    /* DIVs com o conteudo H2, A, IMG, P */
    .divs_link{
        text-align: center;
        padding-top: 2rem;
        width: 100%;
    }
    #img_ti{
        width: 60%;
    }
    #img_money{
        width: 70%;
    }
    #img_anime{
        width: 90%;
    }
}

