/* Resolvi criar 01/09/22 um CSS especifico para a pagina T_I.php */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variável GLOBAL do css */
:root{
    --main-color: #000;
    --font-color: #0d6efd;
    --linkActive: #ffd700;
    --linkVisited: rgb(4, 9, 170);
    --firstColor: #fff;
    --secondColor: rgb(6, 3, 14);
    --transp: transparent;/*Testar depois*/
}
body {
    display: block;
    /* color: var(--font-color); */
}