@charset "UTF-8";
/* Resolvi criar 01/09/22 um CSS especifico para a pagina T_I.php */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variáveis GLOBAIs das CORES da Pagina */
:root{
    --branco: #fff;
    --transp: transparent;
    --dark: #373636;
    --preto: #000;
    --preto20: rgba(0,0,0,0.2);
    --preto40: rgba(0,0,0,0.4);
    --preto60: rgba(0,0,0,0.6);
    --preto80: rgba(0,0,0,0.8);
    --azulClaro: rgba(13, 110, 253,1);
    --azulMedio: rgba(4, 8, 115,1);
    --azulScuro: rgba(8, 4, 19,1);
    --gold: #ffd700;
}
body {
    display: block;
    /* color: var(--font-color); */
    background-color: var(--preto) !important;
}
#main_ti{
    display: block;
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--preto);
    color: var(--azulClaro);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}
#row_tit{
    display: block;
    justify-content: center;
    padding: 2rem 0px;
}
#row_tit p{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gold);
    text-align: left;
}
#row_main{
    display: flex;
    /* flex-wrap: wrap; */
}
#sect_left{
    display: inline-block;
    width: calc(50% - 20px);
    background-color: var(--preto);
    color: var(--branco);
    padding: 3rem 2rem;
    /* border: #fff solid 2px; */
}
#sect_right{
    display: inline-block;
    width: calc(50% - 20px);
    background-color: var(--branco);
    color: var(--preto);
    padding: 3rem 2rem;
    border: rgb(0, 0, 0) solid 2px;
}