/* Resolvi criar 01/09/22 um CSS especifico para a pagina T_I.php */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variável GLOBAL do css */
:root{
    --main-color: #000;
    --font-color: #0d6efd;
    --linkActive: #ffd700;
    --linkVisited: rgb(4, 9, 170);
    --firstColor: #fff;
    --secondColor: rgb(6, 3, 14);
    --transp: transparent;/*Testar depois*/
}
body {
    display: block;
    /* color: var(--font-color); */
    background-color: var(--main-color);
}
#main_ti{
    display: block;
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--main-color);
    color: var(--font-color);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}
#row_tit{
    display: block;
    justify-content: center;
    padding: 2rem 0px;
}
#row_tit p{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--linkActive);
    text-align: left;
}
#row_main{
    display: flex;
    /* flex-wrap: wrap; */
}
#sect_left{
    display: inline-block;
    width: calc(50% - 20px);
    background-color: var(--main-color);
    color: var(--firstColor);
    padding: 3rem 2rem;
    border: #fff solid 2px;
}
#sect_right{
    display: inline-block;
    width: calc(50% - 20px);
    background-color: var(--firstColor);
    color: var(--main-color);
    padding: 3rem 2rem;
    border: rgb(0, 0, 0) solid 2px;
}