@charset "UTF-8";
/* Aqui vai ser meu arquivo CSS para testes de PHP, criado 20/09/2022 */
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Variáveis GLOBAIs das CORES da Pagina ******************************************************/
:root{
    --gelo: rgba(235,238,246,1);
    --gelo2: rgba(246,247,249,1);
    --branco: #fff;
    --transp: transparent;
    --dark: rgba(55,54,54,1);
    --preto: #000;
    --preto20: rgba(0,0,0,0.2);
    --preto40: rgba(0,0,0,0.4);
    --preto60: rgba(0,0,0,0.6);
    --preto80: rgba(0,0,0,0.8);
    --azulClaro: rgba(13,110,253,1);
    --azulMedio: rgba(4,9,170,1);
    --azulEscuro: rgba(5,35,57,1);
    --azulScuro: rgba(1,13,21,1);
    --gold: rgba(255,215,0,1);
    --laranja: rgba(240,191,76,1);
    --vermelho: rgba(172,2,2,1);
    --verdeScuro: rgba(6,16,0,1);
    --verdeEscuro: rgba(16,44,0,1);
    --verdeClaro: rgba(27,74,0,1);
}
body{
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 1.1em;
}
h1,h2{
    color: var(--gold);
    background-color: black;
    font-weight: 600;
}
h3,h4{
    width: fit-content;
    color: rgba(13,110,253,1);
    background-color: black;
    padding: 0 10px 0 10px;
}
span.codigo{
    width: fit-content;
    color: rgb(241, 241, 244);
    background-color: black;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 5px 0 5px;
}

/* Definições do NAV_TOP */
.nav_top{
    display: flex;
    height: 5vh;
    background-color: black;
    color: antiquewhite;
    
}
.nav_row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.text_cookie{
    display: flex;
    width: fit-content;
    font-size: 0.7em;
    align-items: center;
    color: #fff;
    /* border: 1px dotted rgb(111, 248, 48); */
}
#div_img_login{
    display: flex;
    width: fit-content;
    margin: 0px;
    padding: 0px;
}
.text_menu{
    display: flex;
    width: fit-content;
    color: rgba(13,110,253,1);
    /* border: 1px dotted rgb(111, 248, 48); */
}
.ul_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    /* border: 1px dotted rgb(111, 248, 48); */
}
.ul_drop{
    background-color: black;
}
.ul_drop a{
    color: #fff;
}
.li_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    list-style: none;
    /* border: 1px dotted rgb(111, 248, 48); */
}
.a_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0px 30px;
    /* border: 1px dotted rgb(111, 248, 48); */
}
.text_data{
    display: flex;
    width: fit-content;
    font-size: 0.7em;
    align-items: center;
    justify-content: end;
    color: #fff;
    /* border: 1px dotted rgb(111, 248, 48); */
}
main.main_cont{
    display: flex;
    /* height: 90vh; */
    height: max-content;
    padding: 0px 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* border: 1px solid rgb(221, 133, 17); */
}
.sec_princ{
    display: block;
    padding: 20px;
    background-color: rgb(17, 29, 19);
    color: rgb(255, 255, 255);
    /* border: 1px solid rgb(221, 128, 7); */
}
.sec_princ h1{
    text-align: center;
}
footer.foot_cont{
    display: flex;
    height: 5vh;
    background-color: black;
    color: rgb(255, 254, 253);
    /* border: 1px dotted rgb(111, 248, 48); */
}
.div_cont{
    display: flex;
    align-items: center;
    justify-content: center;
}