@charset "UTF-8";
/* Resolvi criar 01/09/22 um CSS especifico para a pagina T_I.php */
/* Google Fontes escolhidas
font-family: 'Cinzel Decorative', cursive;
font-family: 'Cutive Mono', monospace;
font-family: 'Kalam', cursive;
font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    /* color: var(--font-color); */
    background-color: var(--preto) !important;
    width: 100vw;
    /* height: 100vh; */
}
.h1_frase{
    color: var(--branco);
    font-family: 'Cutive Mono', monospace;
}
/* MAIN conteiner-fluid da pagina com o class=main_conteiner ************************************/
.main_conteiner{
    display: block;
    /* width: 100vw;
    height: 100vh; */
    background-color: var(--preto);
    color: var(--azulClaro);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Cutive Mono', monospace;
}
/* SECTION - primeiro ROW pagina com o H1 e o primeiro texto descritivo ************************/
.sec_tit_row{
    display: block;
    width: 100%;
    justify-content: center;
    /* padding: 2rem 0px; */
}
/* DIV com o H1 do titulo da pagina*/
.div_tit_h1ti{
    display: block;
    padding-top: 50px;
}
.div_tit_h1ti h1{
    font-size: 2em;
    font-weight: 500;
}
/* DIV com o Primeiro Paragrafo descritivo da pagina  *******************************************/
.div_parag1_desc1{
    display: block;
}
.div_parag1_desc1 p{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--gold);
    text-align: center;
    padding: 1em 7em 2em;
}
/* SECTION class="row" com os dois DIVs Hard e Soft  ********************************************/
#sec_hard_soft{
    display: flex;
    width: 100%;
    padding: 1em 4em;
}
/* DIV com o H2 HARDWARE e o Acordion do texto sobre Hardware **********************************/
.div_hard{
    display: flex;
    width: 50%;
    /* width: calc(50%); */
    background-color: #000 !important;
    color: #fff !important;
    /* padding: 3rem 2rem; */
    border: #fff solid 1px;
    border-radius: 10px;
}
/** DIV com a class=ACCORDION  *****************************************************************/
.accordion{
    width: 100%;
    background-color: #000 !important;
    color: #fff !important;
    /* border: 2px dotted rgb(210, 114, 46); */
}
#accordion_hard{
    background-color: #000 !important;
    color: #fff !important;
    /* border: 2px dotted rgb(115, 49, 215); */
}
.accordion-header{
    background-color: #000 !important;
    color: #fff !important;
}
.accordion-button{
    background-color: #000 !important;
    color: #fff !important;
    font-size: .7em !important;
}

#span_hard{
    /* display: flex !important; */
    width: 100%!important;
    text-align: center!important;
    font-size: 2em!important;
    /* border: 2px dotted rgb(57, 210, 46); */
    text-decoration: underline;
}
.accordion-item{
    background-color: #000 !important;
    color: #fff !important;
    /* border: 2px dotted rgb(57, 210, 46); */
}

/* DIV com o H2 SOFTWARE e o Acordion do texto sobre Software ************************************/
.div_soft{
    display: flex;
    width: 50%;
    /* width: calc(50%); */
    background-color: var(--branco);
    color: var(--preto);
    /* padding: 3rem 2rem; */
    border-radius: 10px;
}
/** DIV com a class=ACCORDION SOFTWARE ******************************************/
#accordion_soft{
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    /* border: 2px dotted rgb(115, 49, 215); */
}
#h2_software_pc{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}

.accordion-button2{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    font-size: .7em !important;
}

#span_soft{
    /* display: flex !important; */
    width: 100%!important;
    text-align: center!important;
    font-size: 2em!important;
    text-decoration: underline;
}
.accordion-item2{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
    font-weight: 500;
}


/* DIV com o SEGUNDO Paragrafo descritivo da pagina  *******************************************/
.div_parag2_desc2{
    display: block;
    padding: 50px 100px 100px;
    color: var(--gold);
}